
* 						{margin: 0; padding: 0;}
body					{font: 16px Georgia, serif;

}

#page-wrap				{margin: 3% auto; 
                        color: #FFFFFF;

                        }
#page-wrap > .main 		{border: 0px solid #FFFFFF; padding: 1%;
						 margin-bottom: 0px; color: black;
                         background: white;
                        }

section > div			{padding: 20px;}
header, nav, section	{background: #eee; 
                         text-align: center;
                        
}
footer					{margin: 40% auto; 
                            background: #eee;

}
nav span				{margin: 0px 0px 0px 0px;}

#ErrorMsgs				{color: #f61; font-size: smaler;} 

#page-wrap > nav             {text-align:left;}

.right{
    float: right;
}

#page-wrap > section         {text-align:center; margin: 0px 13px 0px 0px;}

#page-wrap > footer         {text-align:center;}

a {
  color: #00B7FF;
  text-decoration:none;  
}

table{
    text-align: left;
    
}

input       { 
              text-align: left;       /* Align input to the right  */
               
              border-radius: 20px 20px 20px 20px;
              padding: 5px  5px;
              font-size:large;       }

a.boton {
  text-decoration: none;
  background: #EEE;
  color: #222;
  border: 1px outset #CCC;
  padding: .1em .5em;
}
a.boton:hover {
  background: #CCB;
}
a.boton:active {
  border: 1px inset #000;
}

p{
    font-family: "Homer Simpson";
    font-size: 150%; 
}    

h3{
  color: #8080ff;
}

h2{
  color: #3D8ADC;
}

h1{
  color: #3D8ADC;
}


.button {
   border-top: 1px solid #96d1f8;
   background: #3D8ADC;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D8ADC), to(#3D8ADC));
   background: -webkit-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -moz-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -ms-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -o-linear-gradient(top, #3D8ADC, #3D8ADC);
   padding: 10px 20px 10px 20px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }


.button_little {
   border-top: 1px solid #96d1f8;
   background: #3D8ADC;
   background: -webkit-gradient(linear, left top, left bottom, from(#3D8ADC), to(#3D8ADC));
   background: -webkit-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -moz-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -ms-linear-gradient(top, #3D8ADC, #3D8ADC);
   background: -o-linear-gradient(top, #3D8ADC, #3D8ADC);
   padding: 5px 10px 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 10px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.button_edit {
   border-top: 1px solid #96d1f8;
   background: #F7BE81;
   background: -webkit-gradient(linear, left top, left bottom, from(#F7BE81), to(#F7BE81));
   background: -webkit-linear-gradient(top, #F7BE81, #F7BE81);
   background: -moz-linear-gradient(top, #F7BE81, #F7BE81);
   background: -ms-linear-gradient(top, #F7BE81, #F7BE81);
   background: -o-linear-gradient(top, #F7BE81, #F7BE81);
   padding: 5px 10px 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

.button_borrar {
   border-top: 1px solid #96d1f8;
   background: #FE2E2E;
   background: -webkit-gradient(linear, left top, left bottom, from(#FE2E2E), to(#FE2E2E));
   background: -webkit-linear-gradient(top, #FE2E2E, #FE2E2E);
   background: -moz-linear-gradient(top, #FE2E2E, #FE2E2E);
   background: -ms-linear-gradient(top, #FE2E2E, #FE2E2E);
   background: -o-linear-gradient(top, #FE2E2E, #FE2E2E);
   padding: 5px 10px 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }   
   

.btn {
  background: #d99c34;
  background-image: -webkit-linear-gradient(top, #d99c34, #d99c34);
  background-image: -moz-linear-gradient(top, #d99c34, #d99c34);
  background-image: -ms-linear-gradient(top, #d99c34, #d99c34);
  background-image: -o-linear-gradient(top, #d99c34, #d99c34);
  background-image: linear-gradient(to bottom, #d99c34, #d99c34);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
 
}

.btn:hover {
  background: #3D8ADC;
  background-image: -webkit-linear-gradient(top, #3D8ADC, #3498db);
  background-image: -moz-linear-gradient(top, #3D8ADC, #3498db);
  background-image: -ms-linear-gradient(top, #3D8ADC, #3498db);
  background-image: -o-linear-gradient(top, #3D8ADC, #3498db);
  background-image: linear-gradient(to bottom, #3D8ADC, #3498db);
  text-decoration: none;
}
   
   
   .textbox
  {
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }
  
  .textbox:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }
  
  